<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cafeteria.cafeteria_client">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".ui.MyApplicationClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.onesignal.NotificationOpened.DEFAULT"
            android:value="DISABLE" />

        <activity
            android:name=".ui.MenuActivity"
            android:launchMode="singleTask" >
    </activity>

    <activity android:name=".ui.LoginActivity" />
        <activity android:name=".ui.SignUpActivity" />
        <activity
            android:name=".ui.CategoryItemsActivity"
            android:parentActivityName=".ui.MenuActivity" />
        <activity android:name=".ui.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.OrderActivity" />
        <activity android:name=".ui.PayPalActivity" />
        <activity
            android:name=".ui.OrdersHistoryActivity"
            android:label="@string/title_activity_orders_history" />
        <activity
            android:name=".ui.AboutActivity"
            android:label="@string/title_activity_about"
            android:parentActivityName=".ui.MenuActivity" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MenuActivity" />
        </activity>
        <activity
            android:name=".ui.OrderReadyActivity"
            android:label="@string/title_activity_order_ready"
            android:parentActivityName=".ui.MenuActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MenuActivity" />
        </activity>
        <activity android:name=".ui.UserDetailsActivity"
                  android:label="@string/title_activity_user_details">
        </activity>
    </application>

</manifest>